h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: italic;
	font-weight: 100;
	font-size: 3rem;
  text-align: center;
}

* {
	box-sizing: border-box;
}


.container {
  font-family: 'Mission Script', 'Lucida Handwriting', cursive;
  font-weight: 100;
}

@media (min-width: 992px) {
  .container, .subcontainer {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .subcontainer {
    display: flex;
    flex-direction: row;
  }
}


.container  article {
  position: relative;
  background-color: Gainsboro;
	border-style: solid;
	border-color: black;
	border-width: .1em;
	padding: .4em;
	margin: .3em;
}


article > .name {
  position: absolute;
  top: -1em;
  right: 0;
  border-left: inherit;
  border-bottom: inherit;
}


#a1 > .name {
  background-color: orange;
}

#a2 > .name {
  background-color: CornflowerBlue;
}

#a3 > .name {
  background-color: yellow;
}
